In [1]:
pip install psycopg2

Requirement already satisfied: psycopg2 in /anaconda/envs/azureml_py310_sdkv2/lib/python3.10/site-packages (2.9.10)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /anaconda/envs/azureml_py310_sdkv2/lib/python3.10/site-packages (2.9.10)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import psycopg2
import pandas as pd

# Database connection parameters
db_host = 'maritime-db-server.postgres.database.azure.com'
db_name = 'maritime_db'
db_user = 'maritime_user_kavinda'
db_password = 'mdbuL5jW&xz#8'
db_port = '5432'  # Default PostgreSQL port

# Convert October and December 2023 to UNIX timestamps
# October 2023: 1st October 00:00:00 (1696118400) to 31st October 23:59:59 (1698796799)
# December 2023: 1st December 00:00:00 (1701388800) to 31st December 23:59:59 (1704067199)
query = """
SELECT effective_from, imo_number, ship_id, mmsi, call_sign, ship_name, weight, 
       length, build_year, registered_owner, operator, flag_effective_date, 
       port_of_registry, classification_society, deadweight, breadth, 
       displacement, draught, group_beneficial_owner, ship_manager, 
       technical_manager, shipbuilder, country_of_build, flag_id 
FROM ais_shipinfo
"""

# Establish a connection and load data into a DataFrame
try:
    # Connect to the PostgreSQL database
    connection = psycopg2.connect(
        host=db_host,
        database=db_name,
        user=db_user,
        password=db_password,
        port=db_port
    )

    # Load data directly into a pandas DataFrame
    df_all = pd.read_sql_query(query, connection)

    # Display the first few rows of the DataFrame
    print(df_all.head())

except Exception as error:
    print(f"Error retrieving data: {error}")

finally:
    if connection:
        connection.close()
        print("PostgreSQL connection closed.")

/tmp/ipykernel_6799/2717242978.py:35: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_all = pd.read_sql_query(query, connection)

In [4]:
df_all.head()

,effective_from,imo_number,ship_id,mmsi,call_sign,ship_name,weight,length,build_year,registered_owner,...,deadweight,breadth,displacement,draught,group_beneficial_owner,ship_manager,technical_manager,shipbuilder,country_of_build,flag_id
0,2012-01-01 00:00:00+00,7726093,150,677040000,5IM500,VENEZIA,2610,86,1980,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2014-02-12 03:30:12.314334+00,7726093,150,677040000,5IM500,VENEZIA,2610,86,1980,Mantion Shipping Ltd,...,4510.0,14.3,0.0,6.763,B&B Shipping Co,B&B Shipping Co,Mantion Shipping Ltd,Duro Felguera,Spain,TZA
2,2014-02-12 03:30:14.510287+00,9184055,194,356361000,3FFD5,ASPAM SAMRAT,5404,107,1999,Aspam Samrat Shipping Inc,...,6690.0,19.2,9399.0,6.013,Unknown,Aurum Ship Management FZE,Aurum Ship Management FZE,Tachibana,Japan,PAN
3,2012-01-01 00:00:00+00,9184055,194,356361000,3FFD5,ASPAM SAMRAT,5404,107,1999,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PAN
4,2012-01-01 00:00:00+00,9150377,222,636012754,A8HQ3,NAUTIC,78845,274,1998,Crystal Holdings Ltd,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LBR

In [ ]:
df_ais_shipinfo.to_csv(df_all, index=False)